.banner{
	color: white;
	font-size: 40px;
	padding-top: 25px;
	padding-left: 25px;
	margin: 0;
}
.header{
	background-color: black;
	height: 150px;
}
#listing{
	margin-right: 20px;
}
html, body {
    margin: 0;
    padding: 0;
}