@(message: String)

@main("Booksite"){
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type='text/javascript' src="@routes.Assets.versioned("history.js")"></script>
	<link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("main.css")">

        <div id='navbar'>
        <ul>
            <li><a href="/artHist">Art</a> </li>
            <li><a href="/biology">Biology</a> </li>
            <li><a href="/chemistry"> Chemistry</a> </li>
            <li><a href="/cs">Computer Science</a> </li>
            <li><a href="/english">English</a> </li>
            <li><a href="">History</a></li>
            <li><a href="/math">Math</a></li>
            <li><a href="/music">Music</a></li>
            <li><a href="/socialsci">Social Sciences</a></li>
            <li><a href="/post">Make a Post</a></li>
        </ul>
    </div>

    <p id='recentpost'>History Posts</p>
	<div id="listings" class="allposts"></div>

}